<ion-header>
  <ion-toolbar>
    <ion-row (click)="core.navigate('/')">
      <ion-thumbnail class="ion-margin-start">
        <img src="assets/icon/favicon.png" alt="">
      </ion-thumbnail>
      <ion-title>
        Olive Farming
      </ion-title>
    </ion-row>

    <ion-buttons slot="end">
      <ion-button *ngIf="!core.isLoggedIn" (click)="core.navigate('/auth/login')">
        Log in <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button id="profilePopover" *ngIf="core.isLoggedIn">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-popover trigger="profilePopover" side="bottom" alignment="center">
    <ng-template>
      <ion-content class="ion-padding-horizontal">
        <h4>¡Hola, {{core.user.name}} {{core.user.surname}}!</h4>
        <hr>
        <div class="ion-display-flex ion-justify-content-center">
          <ion-button (click)="logout()">
              <ion-icon name="log-out-outline" size="large"></ion-icon> 
              <span>Cerrar sesión</span>
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-popover>
  </ion-toolbar>
</ion-header>