#colImg {
    order: 1;

    ion-img {
        height: 90dvh;
        width: 100%;
        object-fit: cover;
    }
}

#colForm {
    order: 2;
}

@media screen and (max-width:768px) {
    #colImg {
        order: 2;
        
        ion-img {
            height: 40dvh;
            width: 100%;
            object-fit: cover;
        }
    }

    #colForm {
        order: 1;
    }
}