<app-navbar></app-navbar>

<ion-content>
    <ion-row>
        <ion-col class="ion-hide-md-down" size="6">
            <ion-img src="assets/olives.png" alt="Login image"></ion-img>
        </ion-col>

        <ion-col size="12" sizeMd="6">
            <h2>Iniciar sesión</h2>

            <form [formGroup]="loginForm">
                <ion-item lines="none">
                    <ion-grid>
                        <ion-row>
                            <ion-input formControlName="email" label="Email" labelPlacement="floating"
                                placeholder="Email"></ion-input>
                        </ion-row>

                        <ion-row>
                            <div class="ion-padding-start"
                                *ngIf="myForm['email'].invalid && (myForm['email'].dirty || myForm['email'].touched)">
                                <ion-text class="noMarginText" color="danger" *ngIf="myForm['email'].hasError('required')">
                                    Debe escribir un email
                                </ion-text>
                                <ion-text class="noMarginText" color="danger" *ngIf="myForm['email'].hasError('pattern')">
                                    Debe escribir un email válido
                                </ion-text>
                            </div>
                        </ion-row>
                    </ion-grid>
                </ion-item>

                <ion-item lines="none">
                    <ion-grid>
                        <ion-row>
                            <ion-input type="password" formControlName="password" label="Password"
                                labelPlacement="floating" placeholder="Password"></ion-input>
                        </ion-row>
                        <ion-row>
                            <div class="ion-padding-start"
                                *ngIf="myForm['password'].invalid && (myForm['password'].dirty || myForm['password'].touched)">
                                <ion-text class="noMarginText" color="danger" *ngIf="myForm['password'].hasError('required')">
                                    Debe escribir una contraseña
                                </ion-text>
                            </div>
                        </ion-row>
                        
                        <ion-text class="noMarginText" color="danger" *ngIf="errorMessage">
                            {{errorMessage}}
                        </ion-text>
                    </ion-grid>
                </ion-item>

                <ion-item lines="none">
                    <ion-grid>
                        <ion-row class="ion-align-items-center">
                            <ion-col size="12" sizeMd="4">
                                <ion-button expand="block" (click)="login()">Acceder</ion-button>
                            </ion-col>
                            <ion-col size="12" sizeMd="8">
                                <p class="ion-text-center ion-text-md-end">¿No tienes cuenta?
                                    <a (click)="core.navigate('/auth/register')" style="cursor: pointer;">Regístrate</a>
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </form>
        </ion-col>
    </ion-row>
</ion-content>