.card {
    border-radius: 20px;
    background-color: steelblue;
    padding: 20px;
}

ion-button {
    --background: lightskyblue;
}

#rainyCard {
    background-image: url("/assets/RainGif.gif");
    background-size: 100%;
}